## Build output
bin/
obj/

## IDE / tooling
.vs/
.vscode/
.idea/
*.user
*.suo
*.userprefs
*.pubxml.user

## Runtime / local
settings.json
packages/
release/

## Release artifacts
*.zip

## Images
*.png
*.jpg
*.jpeg
*.gif
*.bmp

## Compiled binaries
*.exe
*.dll

## OS
Thumbs.db
Desktop.ini
/DOCUMENTATION.md
